<% let path = jsonData.pages[pageId].path %>
<li class="l-menu__item js-submenu-trigger">
  <a href="./works" class="l-menu__link">WORKS</a>

  <div class="l-menu-sub js-submenu is-none">
    <div class="l-menu-sub__inner">
      <figure>
        <picture>
          <source
            srcset="./assets/images/common/submenu_img01.webp"
            type="image/webp"
          />
          <img src="./assets/images/common/submenu_img01.jpg" alt="" />
        </picture>
      </figure>

      <ul class="l-menu-sub__list">
        <li class="l-menu-sub__item">
          <a href="" class="l-menu-sub__link">
            <div class="l-menu-sub__linkTitle">
              <span class="eng">Architecture</span>
              <span>建築事業</span>
            </div>
            <span class="arrow"></span>
          </a>
        </li>

        <li class="l-menu-sub__item">
          <a href="" class="l-menu-sub__link">
            <div class="l-menu-sub__linkTitle">
              <span class="eng">Civil engineering</span>
              <span>土木事業</span>
            </div>
            <span class="arrow"></span>
          </a>
        </li>

        <li class="l-menu-sub__item">
          <a href="" class="l-menu-sub__link">
            <div class="l-menu-sub__linkTitle">
              <span class="eng">Housing</span>
              <span>住宅事業</span>
            </div>
            <span class="arrow"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</li>
