<% let path = jsonData.pages[pageId].path %>

<!-- subfooter -->
<section class="l-sub-footer">
  <div class="l-sub-footer__container">
    <a href="">
      <figure class="l-sub-footer__image">
        <img
          src="<%= path %>assets/images/common/footer_contact.jpg"
          alt="ロゴ"
        />
      </figure>
      <div class="l-sub-footer__text-wrapper">
        <h2 class="l-sub-footer__text--en">Contact</h2>
        <p class="l-sub-footer__text">お問い合わせ</p>
      </div>
    </a>
  </div>
  <div class="l-sub-footer__container">
    <a href="">
      <figure class="l-sub-footer__image">
        <img
          src="<%= path %>assets/images/common/footer_recruit.jpg"
          alt="ロゴ"
        />
      </figure>
      <div class="l-sub-footer__text-wrapper">
        <h2 class="l-sub-footer__text--en">Recruit</h2>
        <p class="l-sub-footer__text">採用情報</p>
      </div>
    </a>
  </div>
</section>
<!-- subfooter -->
