@use "./../../foundation/global" as *;

.p-company-access {
  padding-inline: $size5;
  display: flex;
  padding-bottom: $size5;

  &__container {
    width: 680px;
  }
  &__map {
    width: 100%;
    height: 400px;
  }
}
