@use "./../../foundation/global" as *;

.p-home-works {
  background-color: $c-white;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: $size3;

  &__inner {
    background-color: $c-base-gray;
  }
}

body {
  &.js-body {
    &.is-active {
      @include mq(lg) {
        position: relative;
        cursor: none;
      }
    }
  }
}

.p-cursor,
.p-chaser {
  display: block;
  opacity: 0;

  will-change: opacity;
  @include mq(lg) {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
  }
}

.p-cursor {
  &.is-active {
    @include mq(lg) {
      z-index: 1001;
    }
  }
}

.p-chaser {
  display: none;

  @include mq(lg) {
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    background-color: #88b999;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.33, 1, 0.68, 1);
  }
  &.is-active {
    @include mq(lg) {
      opacity: 1;
    }
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    letter-spacing: 0.15em;
    font-weight: 600;
    font-size: 1.8rem;
    font-family: Arial, "メイリオ", Meiryo, sans-serif;
    line-height: 1.1111111111;
    transform: translate(-50%, -50%);
  }
}
